<% content_for :title do %>
	Almost-wanted-it 9000
<% end %>

<% content_for :column1 do %>
	<blockquote>"I'm not interested at this time." - Jason Bull</blockquote>
	<h3>The greatest item to put on your wishlist and never get</h3>
<% end %>

<% content_for :column2 do %>
	<h2>Don't forget to put this great invention on your wishlist and then never get it. It's the</h2>
	<h1>Almost-wanted-it 9000</h1>
	<img src="img/almost-wanted-it9000.jpg"/>
<% end %>