<% content_for :title do %>
	Gigatron 5000
<% end %>

<% content_for :column1 do %>
	<blockquote>"Seriously though, I want my money back." - Jason Bull</blockquote>
	<h3>This is the greatest tool you have ever owned and then later returned</h3>
<% end %>

<% content_for :column2 do %>
	<h2>Something tells me you are going to love (and then immediately hate) the</h2>
	<h1>Gigatron 5000</h1>
	<img src="img/gigatron5000.jpg"/>
<% end %>